<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://thewismit.com/assets/images/favicon.png" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    {% feed_meta %}
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <header>
      {% include navigation.html %}
      <div class="header"> <h1>{{ page.header }}</h1></div>
      <!--<p class="index-intro">{{ page.description }}</p>-->
    </header>

    <main>
      <div class="main_content">{{ content }}</div>
    </main>

    <footer id="footer">
      <div id="footer-content">This site was created by <a href="https://thewismit.com">Will Smith</a></div><br/>
      <div><a href="https://512kb.club"><img src="https://512kb.club/images/green-team.svg" /></a></div>
    </footer>
  </body>
 </html>
